*{
    margin: 0;
    padding: 0;
}
/* Header Section */
.header_section{
    height: 753px;
    width: 100%;
    background: url(images/banner/banner3.png);
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}
.header_section h1{font-size: 70px;float: right;margin-bottom: 25px;}
.header_section p{font-size: 19px;margin: 20px 0px;}
.header_section button{height: 70px;width: 201px;color: #007bf3;background: #fff;font-size: 21px;border: none;border-radius: 10px;margin: 3% 0%;font-weight: 550;}
.header_content{
    max-width: 30%;
    float: right;
    margin: 10% 11% 0% 0%;
    text-align: right;
}